body {
  color: #f5efef;
  background-image: url('./background.jpg');
  background-size: cover;
  text-align: center;
}

/* .operator-btns {
  display: inline-block;
} */

ul {
  text-align: left;
  font-size: 25px;
}

::placeholder {
  color: #ff7844;

  font-size: 25px;
}

.the-numbers * {
  width: 20%;
  height: 60px;
  border-radius: 10px;
  /* height: auto; */
}

#input-container {
  background-color: #ffcb8e;
  width: 95%;
  height: 55px;
  font-size: 25px;
}

button {
  background-color: #ffcb8e;
  color: #ff7844;
  font-size: 30px;
}
.flex-container,
.row-one,
.row-two,
.row-three,
.row-four {
  display: flex;
  background-color: #931a25;
  border: solid 2px yellowgreen;
  width: 50%;
  margin: 20px auto;
  justify-content: space-around;
}

/* .row-one {
  background-color: blue;
  display: flex;
  width: 75%;
  margin: 20px auto;
  justify-content: space-around;
}

.row-two {
  background-color: chartreuse;
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-around;
}

.row-three {
  background-color: crimson;
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-around;
}

.row-four {
  background-color: darkolivegreen;
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-around;
} */
